<launch>
	
	<node name="miro_teleop" pkg="miro_background" type="miro_teleop.py" args="robot=rob01" required="true"/>
	<node name="miro_sensor_to_pos" pkg="miro_background" type="sensor_to_pos.py" args="robot=rob01" required="true" />
	<node name="miro_background_safety" pkg="miro_background" type="background_safety.py" args="robot=rob01" required="true" />
	<node name="face_safety" pkg="miro_background" type="face_safety.py" args="robot=rob01" required="true"/>
	
	<arg name="face_cascade_name_0"  default="$(find face_detection)/include/face_detection/HaarCascades/haarcascade_frontalface_alt.xml" />
	<arg name="face_cascade_name_1"  default="$(find face_detection)/include/face_detection//HaarCascades/haarcascade_frontalface_alt2.xml" />
	<arg name="face_cascade_name_2"  default="$(find face_detection)/include/face_detection//HaarCascades/haarcascade_frontalface_alt_tree.xml" />
	<arg name="face_cascade_name_3"  default="$(find face_detection)/include/face_detection//HaarCascades/haarcascade_frontalface_default.xml" />
	<arg name="face_cascade_name_4"  default="$(find face_detection)/include/face_detection/lbpCascades/lbpcascade_frontalface.xml" />

	<node pkg="face_detection" type="face_detection_dlib" name="face_detection_dlib" required="true"
	    args="$(arg face_cascade_name_0)
	    $(arg face_cascade_name_1)
	    $(arg face_cascade_name_2)
	    $(arg face_cascade_name_3)
	    $(arg face_cascade_name_4)"
	    output="screen"/>

    <!-- The nodes for decompressing and republishing the camera streams -->
    <node pkg="image_transport" type="republish" name="republisherLeft" args="compressed in:=/miro/rob01/platform/caml raw out:=/camera/left/raw" required="True" />
    <!-- node pkg="image_transport" type="republish" name="republisherRight" args="compressed in:=/miro/rob01/platform/camr raw out:=/camera/right/raw" required="True" /-->




</launch>